body {

	font-family: Menlo, Monaco, 'Courier New', monospace;
}

p{
	margin: 0;
	padding: 0;
}

div {
	border:1px solid black;
}

body{
	margin 0px 1%;
}
.title{
	margin:auto;
	width:50%;
}
.title h2{
	font-size:2em;
	margin: 3px auto;
	text-align:center;
}
.titile p{
	margin:0 auto;
	text-align:center;
}
.control{
	border:none;
}

.mem {
	min-width:80%;
	display:inline-block;
	float:left;
}

.address {
	color:green;
	display:inline;
	width:8em;
	float:left;
}

.mem_dump{
	color:darkgray;
	width:80em;
	font-size: 1em;
	float:left;
}
.logs{
	width:15%;
	float:right;
}

ul{
	list-style-type: none;
}

