{% load static from staticfiles %}
{% load tools %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'visu/style1.css' %}">
		<script src="{% static "/visu/jquery.js" %}"></script>
	</head>
	<body onload="fill()">
		<div id="content">
			<div class="title">
				<h2>COREWAR</h2>
			</div>
			<div class="control">
				<p>control</p>
				<a href="../../play" id="link_next_cycle">next_cycle</a>
				<a href="javascript:play()" id="link_play">Play</a>
			</div>
			<p id="test"></p>
			<div class="mem" style="height: 100%;">
				<p class="mem_dump">
				{{mem}}
				<!--{% for i in range %}	
				<p>{{i | get_address}}</p><div id="line{{i}}"></div>
				{% endfor %}-->
				</p>
			</div>
			<div class="logs">
				<ul>
					{% for x in logs %}
					<li>{{x}}</li>
					{% endfor%}
				</ul>
			</div>
		</div>
	</body>
</html>

<script>



function play()
{
	if (sessionStorage.pause && sessionStorage.pause == "1")
		sessionStorage.pause = "0";
	else if (sessionStorage.pause && sessionStorage.pause == "0")
		sessionStorage.pause = "1";
	else
		sessionStorage.setItem("pause","1");
	location.reload();
}

function store()
{
	var sessionStrage = window.sessionStrage;
	if (sessionStrage)
	{
		sessionStorage.setItem("mem{{cycle}}", "{{mem_dump}}");
		var str_logs = JSON.stringify(logs);
		sessionStorage.setItem("log{{cycle}}", "str_logs");
		if (sessionStorage.length == 43)
		{
			//sessionStorage.removeItem("log{{cycle | delete_cycle_num }}");
			//sessionStorage.removeItem("mem{{cycle | delete_cycle_num }}");
		}
	}
}

function fill()
{
	store();
	if (sessionStorage.pause)
	{	
		if (sessionStorage.pause == "0")
		{
			location.reload();
			$.post( "update/", function( data ) {
				  alert( "Data Loaded: " + data );
			});
			var now = new Date().getTime();
			while ( new Date().getTime() < now + 200)
			{
			}
		}
	}
	else
	{
		sessionStorage.setItem("pause","1");
	}
}
</script>

