{% load static from staticfiles %}
{% load tools %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'visu/style1.css' %}">
		<script src="{% static "/visu/jquery.js" %}"></script>
	</head>
	<body>
		<div id="content">
			<div class="title">
				<h2>COREWAR</h2>
			</div>
			<div class="control">
				<p>control</p>
				<a href="javascript:update()" id="link_next_cycle">next_cycle</a>
				<a href="javascript:play()" id="link_play">Play</a>
				<p class="cycle_show">cycle: 1</p>
			</div>
			<p id="test"></p>
			<div class="mem" style="height: 100%;">
				<p class="mem_dump">
				{{mem}}
				<!--{% for i in range %}	
		<p>{{i | get_address}}</p><div id="line{{i}}"></div>
		{% endfor %}-->
				</p>
			</div>
			<div class="logs">
				<ul>
					{% for x in logs %}
					<li>{{x}}</li>
					{% endfor%}
				</ul>
			</div>
		</div>
	</body>
</html>

<script>

var pause = 0;
var cycle = 0;

function toggle_pause()
{
	if (pause == 0)
		pause = 1;
	else
		pause = 0;
}


function play()
{
	while (1)
	{
	if (pause == 0)
	{
	cycle += 1;
	$.post( "update/", function( data ) {
		alert( "Data Loaded: " + data );
	});
	var now = new Date().getTime();
	while ( new Date().getTime() < now + 200)
	{
	}	
	$("p.cycle_show").html("cycle: " + cycle);
	}	
}
}
function update()
{
	if (pause == 1)
	{
	cycle += 1;
	$.post( "update/", function( data ) {
		alert( "Data Loaded: " + data );
	});
	var now = new Date().getTime();
	while ( new Date().getTime() < now + 200)
	{
	}	
	$("p.cycle_show").html("cycle: " + cycle);
	}
}


</script>

