<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

	<button onclick="func1()">func1</button>
	<input type="file" id="p1" name="p1">
	<input type="file" id="p2" name="p2">
	<div id="res1"></div>
</html>



<script>

var reader = new FileReader();

const selectedFile1 = document.getElementById('p1');
var file1 = "/Users/mnishimo/currentProjects/corewar/resources/test_champ1.cor";
reader.readAsBinaryString(file1);
var player1 = atob(text);
var file2 = "/Users/mnishimo/currentProjects/corewar/resources/test_champ2.cor";
const selectedFile2 = document.getElementById('p1');
reader.readAsBinaryString(file2);
var player2 = atob(text);

var context = {p1:player1, p2:player2}

function func1(){
	$.ajax({
  type: "POST",
  url: "/AJAX/prepare",
  dataType: 'json',
	data: JSON.stringify(context),
  success: function(game_id){
			alert(game_id);
	}
});
{{ form.csrf_token }}
}


function func2(){
	$.ajax({
  type: "POST",
  url: "/AJAX/update",
  data: 'json',
  success: function(game_id){
			alert(game_id);
	},
  dataType: dataType
});

}
</script>
