.upload-form {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.upload-title {
	line-height: 1.2em;
}

.upload-button {
	border-style: solid;
	border-color: #bbb;
	border-width: 0.05em;
	padding: 0.1em;
	line-height: 1.5em;
}

.files-list {
	min-height: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: #eee;
	border-width: 0.1em;
	min-width: 20em;
}

.champ-buttons {
	line-height: 1.5em;
}

.champ-buttons > * {
	margin: 0.4em;
}
